[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flasgger = "*"
python-twitter = "*"
yweather = "*"
gensim = "*"
japanesetokenizer = "*"
nltk = "*"
many-stop-words = "*"
google-cloud = "*"
ekphrasis = "*"
ujson = "*"
googlemaps = "*"
pyopenssl = "*"
requests-xml = "*"

[dev-packages]

[requires]
python_version = "3.6"
